/* 全体 */
body {
	text-align: center;
	/*	 中央寄せ */
	min-width: 900px;
	/*	 最小幅 */
}

/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 0px;
	margin-top: 10em;
	/* 10行分の余白 */

}

/*ヘッダー、ナビゲーションメニュー*/
header,
nav {
	top: 0;
	width: 100%;
	padding: 0px;
	padding-bottom: 5px;
	color: #000;
}


h1 {

	color: rgb(0, 0, 0);
	width: 100%;
	margin: 0;
}

.site-header {
	position: fixed;
	z-index: 9999;
}


footer {
	background-color: #CBFFD3;
	/*	 背景色 */
	color: #ffffff;
	/*	 文字色 */
	padding-top: 5px;
	/*	 内側余白(上) */
	padding-bottom: 5px;
	/*	 内側余白(下) */
}


a {
	color: #33FF99;
	text-decoration: none;
	position: relative;
	transition: .3s;
	padding-right: 10px;
}

.site-header a {
	color: #fff;
	text-decoration: none;
	position: relative;
	transition: .3s;
	padding-right: 10px;
}

.site-header a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #fff;
	transition: .3s;
}

.site-header a:hover::after {
	width: 100%;
}

main a img {
	background-color: none;
}

main a img:hover {
	background-color: rgb(236, 236, 236);
}

/* 仕切り線 */
hr {
	border-top: 2px dashed rgb(192, 192, 192);
}

/* 表線 */
table,
th,
td {
	border-collapse: collapse;
	border-color:rgb(236, 236, 236);
}

/* 表 */
table {
	margin: auto;
	max-width: 1000px;
	word-break: break-all;
	padding: 10px;
}

/* 表見出しセル */
table th {
	background: #ffffff;
	color: #33FF99	;
	min-width: 120px;
}

.review{
	text-align: left;
}

/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: #33FF99;
	color: #ffffff;
	border: none;
	width: 150px;
	cursor: pointer;
	border-radius: 100vh;
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #AEFFBD;
}