<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>システム管理者ホーム</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	<div class="text-center">
	<header th:replace="suHeader"></header>
	<br>
	<h3>システム管理者メニュー</h3>
	<a  href="/admin/accountManager">アカウント管理</a><br>
	<a  href="/admin/genre">ジャンル管理</a>
	<br>
	<br>
	
	<h3>司書メニュー</h3>
	<a th:href="@{/librarian/lendProcess(libraryId = ${libraryId})}">貸出処理</a><br>
	<a th:href="@{/librarian/lenditems(libraryId = ${libraryId})}">貸出物管理</a><br>
	<a th:href="@{/librarian/categories(libraryId = ${libraryId})}">カテゴリ管理</a><br>
	<a href="/librarian/notice">お知らせ管理</a><br>
	
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>