<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>名前変更 / [[${category.categoryName}]]</title>
</head>
<body>
	<header th:replace ="adminHeader"></header>
	<sidebar th:replace="librarianSidebar"></sidebar>

	<th:block th:if="${category}">
		<form 
		th:action="@{/librarian/categories/{id}/rename(id = ${categoryId})}"
		th:object="${category}"
		name="renamedCategory"
		method="post">
			<table border="1">
				<tr>
					<th>カテゴリー名</th>
					<td>
						<input type="text" name="categoryName" th:value="*{categoryName}">
					</td>
				</tr>
			</table>
			
			<input type="hidden" th:field="*{categoryId}">
			<input type="hidden" name="libraryId" th:value="${libraryId}">
			<button>変更</button>
		</form>
	</th:block>
</body>
</html>