<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>データ一覧 / [[${category.categoryName}]]</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<!--libraryId削除-->
<body>
	<div class="text-center">
	<header th:replace ="adminHeader"></header>
	<div th:replace="suSideBar"></div>
	
	<!--	追加0619-->
		<a th:href="@{/librarian/categories/{categoryId}
		(categoryId = ${categoryId})}">
			<p>カテゴリー管理ホーム</p>
		</a>
	<!--	ここまで-->
	
	<th:block th:object="${category}">
		<table border="1" class="table">
			<div th:if="*{categoryId} == 1">
				<tr scope="col" class="table-primary">
					<th>ID</th>
					<th>タイトル</th>
					<th>著者</th>
					<th>出版社</th>
					<th>ジャンル</th>
					<th>編集</th>
				</tr>
				<tr scope="col" th:each="lendAnyItem : ${lendAnyItemList}">
					<td>[[${lendAnyItem.anyId}]]</td>
					<td>[[${lendAnyItem.title}]]</td>
					<td>[[${lendAnyItem.author}]]</td>
					<td>[[${lendAnyItem.publisher}]]</td>
					<td>[[${lendAnyItem.genreName}]]</td>
					<td>
						<form 
						th:action="@{/librarian/categories/{categoryId}/data/{id}(categoryId = *{categoryId}, id = ${lendAnyItem.anyId})}"
						method="get">
							<button class="btn btn-primary">編集</button>
						</form>
					</td>
				</tr>
			</div>
			
			<div th:if="*{categoryId} == 2">
				<tr scope="col" class="table-primary">
					<th>ID</th>
					<th>タイトル</th>
					<th>アーティスト</th>
					<th>レーベル</th>
					<th>ジャンル</th>
					<th>編集</th>
				</tr>
				<tr scope="col" th:each="lendAnyItem : ${lendAnyItemList}">
					<td>[[${lendAnyItem.anyId}]]</td>
					<td>[[${lendAnyItem.title}]]</td>
					<td>[[${lendAnyItem.author}]]</td>
					<td>[[${lendAnyItem.publisher}]]</td>
					<td>[[${lendAnyItem.genreName}]]</td>
					<td>
						<form 
						th:action="@{/librarian/categories/{categoryId}/data/{id}(categoryId = *{categoryId}, id = ${lendAnyItem.anyId})}"
						method="get">
							<button class="btn btn-primary">編集</button>
						</form>
					</td>
				</tr>
			</div>

			<div th:if="*{categoryId} == 3">
				<tr class="table-primary">
					<th>ID</th>
					<th>タイトル</th>
					<th>監督</th>
					<th>販売元</th>
					<th>ジャンル</th>
					<th>編集</th>
				</tr>
				<tr th:each="lendAnyItem : ${lendAnyItemList}">
					<td>[[${lendAnyItem.anyId}]]</td>
					<td>[[${lendAnyItem.title}]]</td>
					<td>[[${lendAnyItem.author}]]</td>
					<td>[[${lendAnyItem.publisher}]]</td>
					<td>[[${lendAnyItem.genreName}]]</td>
					<td>
						<form 
						th:action="@{/librarian/categories/{categoryId}/data/{id}(categoryId = *{categoryId}, id = ${lendAnyItem.anyId})}"
						method="get">
							<button class="btn btn-primary">編集</button>
						</form>
					</td>
				</tr>
			</div>

			<div th:if="*{categoryId} == 4">
				<tr class="table-primary">
					<th>ID</th>
					<th>タイトル</th>
					<th>作者</th>
					<th>出版社</th>
					<th>ジャンル</th>
					<th>編集</th>
				</tr>
				<tr th:each="lendAnyItem : ${lendAnyItemList}">
					<td>[[${lendAnyItem.anyId}]]</td>
					<td>[[${lendAnyItem.title}]]</td>
					<td>[[${lendAnyItem.author}]]</td>
					<td>[[${lendAnyItem.publisher}]]</td>
					<td>[[${lendAnyItem.genreName}]]</td>
					<td>
						<form 
						th:action="@{/librarian/categories/{categoryId}/data/{id}(categoryId = *{categoryId}, id = ${lendAnyItem.anyId})}"
						method="get">
							<button class="btn btn-primary">編集</button>
						</form>
					</td>
				</tr>
			</div>
			
			<div th:if="*{categoryId} == 5">
				<tr class="table-primary">
					<th>ID</th>
					<th>会議室名</th>
					<th>編集</th>
				</tr>
				<tr th:each="lendAnyItem : ${lendAnyItemList}">
					<td>[[${lendAnyItem.roomId}]]</td>
					<td>[[${lendAnyItem.roomName}]]</td>
					<td>
						<form 
						th:action="@{/librarian/categories/{categoryId}/data/{id}(categoryId = *{categoryId}, id = ${lendAnyItem.roomId})}"
						method="get">
							<button class="btn btn-primary">編集</button>
						</form>
					</td>
				</tr>
			</div>
		</table>
	</th:block>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>