<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリ / [[${category.categoryName}]]</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<!--libraryId削除-->
<body>
	<div class="text-center">
	<header th:replace ="adminHeader"></header>
	<div th:replace="suSideBar"></div>
	
	<a th:href="@{/librarian/categories/{id}/rename(id = ${categoryId})}">
		カテゴリー名の変更
	</a>
	<br>
	<br>
	<a th:href="@{/librarian/categories/{id}/data(id = ${categoryId})}">
		データの新規登録
	</a>
	<br>
	<br>
	<a th:href="@{/librarian/categories/{id}/datalist(id = ${categoryId})}">
		データの一覧・編集
	</a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>