<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリ / 管理者</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="text-center">
	<header th:replace ="adminHeader"></header>
	<div th:replace="suSideBar"></div>
	
	<h1>カテゴリー一覧</h1>
	<th:block th:if="${categoryList}">
		<div th:each="category : ${categoryList}">
			<a th:href="@{/librarian/categories/{id}(id = ${category.categoryId}, libraryId = ${libraryId})}" >
				[[${category.categoryId}]].[[${category.categoryName}]]
			</a>
		</div>
	</th:block>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
</body>
</html>