<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ジャンル管理</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<!--	ヘッダー-->	
	<header th:replace="suHeader"></header>
	
	
	<!--	サイドバー-->
	<sidebar th:replace="adminSidebar"></sidebar>
	<div class="text-center">
			
	<h2>ジャンル管理</h2>

	<br>

	<h3>ジャンルの追加</h3>

	<form action="/admin/genre/add" method="post">
		カテゴリ：<select name="categoryId">
			<option th:each ="category:${categoryList}"th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
	
		</select>
		ジャンル：<input type="text" name="genreName">
		<button class="btn btn-primary">追加</button>
	</form>

	
		<p th:text="${message}" style="color: red"></p>
	</p>
	<br>

	<h2>ジャンル一覧</h2>
	
	<!--ジャンル一覧リンク-->
	<a href="/admin/genre">全ジャンル</a>

	<!--カテゴリーごとの一覧リンク-->
	<a th:each="c:${categoryList}" th:href="@{/admin/genre(categoryId=${c.categoryId})}">
    <span th:text="${c.categoryName}"></span>
</a>

	<!--削除一覧リンク-->
	<a href="/admin/genre?deleted=true">削除したジャンル</a>
	
	<!--	選択した一覧を表示するテーブル-->
	<table class="table" style="margin-left: auto; margin-right: auto;">
		
		<tr class="table-primary">
			<th>カテゴリー名</th>
			<th>ジャンル</th>
			<th></th>
		</tr>
		<tr th:each="genre : ${genreList}">
			<td th:text="${categoryMap.get(genre.categoryId)}"></td>
			<td th:text="${genre.genreName}"></td>
			
			<td>
				
				<!--ジャンルを削除したり復元したりするボタン-->
				<form th:action="@{/admin/genre/{genreId}/delete(genreId=${genre.genreId})}" method="post">
					<button class="btn btn-primary" th:text="${btnView}"></button>
				</form>
			</td>
		</tr>
	</table>
	
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>