<header>
	<!--	<form  id="submit_form">-->

	<!--		<select id="submit_item">-->
	<!--			<option value="1">名古屋</option>-->
	<!--			<option value="2">栄</option>-->
	<!--			<option value="3">金山</option>-->
	<!--		</select>-->
	<!--	</form>-->
<div style="background-color: #D6E5DF;">
	<h2>名古屋市図書館</h2>
</div>
	<h4>メニュー</h4>
	<a href="/lendItems">
		<p>ホーム</p>
	</a>
	<a href="/notice">
		<p>お知らせ</p>
	</a>

	<a href="/lending" th:if="${userId != 0}">
		<p th:if="${userId != 0}">現在借りている物</p>
	</a>
	<a href="/reservation" th:if="${userId != 0}">
		<p th:if="${userId != 0}">予約一覧</p>
	</a>
	<a href="/lendingHistory" th:if="${userId != 0}">
		<p th:if="${userId != 0}">貸出履歴</p>
	</a>
	<a href="/login"><button class="btn btn-primary">ログイン</button></a>
	<a href="/logout" th:if="${userId != 0}"><button class="btn btn-primary">ログアウト</button></a>

</header>