<header>
<!--	<form  id="submit_form">-->

<!--		<select id="submit_item">-->
<!--			<option value="1">名古屋</option>-->
<!--			<option value="2">栄</option>-->
<!--			<option value="3">金山</option>-->
<!--		</select>-->
<!--	</form>-->
	
	<h1>名古屋市図書館</h1>
	<h3>メニュー</h3>
	<a href="/lendItems">
		<p>ホーム</p>
	</a>
	<a href="/notice">
		<p>お知らせ</p>
	</a>
	<a href="/">
		<p>現在借りている物</p>
	</a>
	<a href="/">
		<p>予約一覧</p>
	</a>
	<a href="/">
		<p>貸出履歴</p>
	</a>
	<a href="/login"><button>ログイン</button></a>
	</div>
</header>