<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>名古屋図書館</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	

	<header th:replace="header"></header>

	<!--	<script>-->
	<!--		$(function () {-->
	<!--			$("#submit_item").change(function () {-->
	<!--				$("#submit_form").submit();-->
	<!--			});-->
	<!--		});-->
	<!--	</script>-->
<div class="mx-auto" style="width: 400px;">
	<form action="/lendItems" method="get">
		
<div class="form-group">
		検索
		<input type="text" name="search" th:value="${search}" class="form-control" placeholder="キーワード検索">
</div>
		<!--		onchange="submit(this.form)"-->
		<select class="form-select" name="category" >
			<option value="">カテゴリ</option>
			<option class="category" value="1" th:selected="${category==1}">本</option>
			<option class="category" value="2" th:selected="${category==2}">CD</option>
			<option class="category" value="3" th:selected="${category==3}">DVD</option>
			<option class="category" value="4" th:selected="${category==4}">紙芝居</option>
			<option class="category" value="5" th:selected="${category==5}">貸会議室</option>
		</select>

		<select class="form-select" name="Possibility">
			<option value="0">貸出可否</option>
			<option value="1" th:selected="${Possibility==1}">貸出可</option>
			<option value="2" th:selected="${Possibility==2}">貸出不可</option>
		</select>

		<button class="btn btn-primary">検索</button>
	</form>
	<br>
	<h2 th:text="${titleMsg}"></h2>
	<h2 th:if="${category != 5 && lendItemList.size() == 0}" style="color: red;">検索結果が見つかりませんでした</h2>
</div>
	<table border="1" class="table" th:if="${category != 5 && lendItemList.size() != 0}">
		<tr class="table-primary">
			<th>ジャンル</th>
			<th>タイトル</th>
			<th>著者</th>
			<th>貸出可否</th>
		</tr>
		<tr th:each="lendItem:${lendItemList}">
			<td th:text="${genreMap[lendItem.genreId]}"></td>
			<td><a th:href="@{/lendItems/{id}(id=${lendItem.lendItemId})}">
					<p th:text="${lendItem.title}"></p>
				</a></td>
			<td th:text="${lendItem.author}"></td>
			<td th:text="${statusMap[lendItem.statusId]}"></td>
		</tr>
	</table>
	<h2 th:if="${category == 5 && lendItemRoomList.size() == 0}" style="color: red;">検索結果が見つかりませんでした</h2>
	<table border="1" class="table" th:if="${category == 5 && lendItemRoomList.size() !=0}">
		<tr scope="col" class="table-primary">
			<th>タイトル</th>
			<th>貸出可否</th>
		</tr>
		<tr th:each="lendItem:${lendItemRoomList}">
			<td><a th:href="@{/lendItems/{id}(id=${lendItem.lendItemId})}">
					<p th:text="${lendItem.roomName}"></p>
				</a></td>
			<td th:text="${statusMap[lendItem.statusId]}"></td>
		</tr>
	</table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>