<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rakus</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="text-align: center;">
	 <header>ヘッダーです</header> 
    <div class="center-block">
        <div class="row">
            <div class="col-md-2 border border-dark">2</div>
            <div class="col-md-2 border border-dark">2</div>
            <div class="col-md-2 border border-dark">2</div>
            <div class="col-md-6 border border-dark">6</div>
        </div>
    </div>
    <h1>Hello, Rakus!</h1>
     <div class="container-fluid">
    <form>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        Password
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Button</button>
    </form>
  </div>
    <footer>フッターです</footer> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>