<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出物詳細</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<!--libraryId消去-->
<body>
	
	<header th:replace ="adminHeader"></header>
	<div th:replace="suSideBar"></div>
	
	<div class="text-center">
<div class="mx-auto" style="width: 600px;">
<!--	Bookの編集-->
	<form 
	method="post" 
	th:action="@{/librarian/lenditems/{id}/edit(id = ${lendItem.lendItemId})}"
	th:object="${lendAnyItem}"
	>
		<th:block th:if="${lendItem.categoryId} == 1">
			<table border="1" class="table">
				<tr>
					<th class="table-primary">タイトル</th>
					<td>[[*{title}]]</td>
				</tr>
				<tr>
					<th class="table-primary">著者</th>
					<td>[[*{author}]]</td>
				</tr>
				<tr>
					<th class="table-primary">出版社</th>
					<td>[[*{publisher}]]</td>
				</tr>
				<tr>
					<th class="table-primary">ジャンル</th>
					<td>[[*{genreName}]]</td>
				</tr>
				<tr>
					<th class="table-primary">状態</th>
					<td>
						<select name="statusId">
							<option 
							th:each="status : ${statusList}" 
							th:value="${status.statusId}"
							th:selected="${lendItem.statusId} == ${status.statusId}">
								[[${status.statusId}]]: [[${status.statusName}]]
							</option>
						</select>
					</td>
				</tr>
				
				<th class="table-primary">種類</th>
					<td>
						<select name="anyId">
							<option 
							th:each="book :${bookList}" 
							th:value="${book.bookId}"
							th:selected="${lendItem.anyId} == ${book.bookId}">
								[[${book.bookId}]]: [[${book.title}]]
							</option>
						</select>
					</td>
			</table>
		</th:block>

<!--	CDの編集-->
		<th:block th:if="${lendItem.categoryId} == 2">
			<table border="1" class="table">
				<tr>
					<th class="table-primary">タイトル</th>
					<td>[[*{title}]]</td>
				</tr>
				<tr>
					<th class="table-primary">アーティスト</th>
					<td>[[*{author}]]</td>
				</tr>
				<tr>
					<th class="table-primary">レーベル</th>
					<td>[[*{publisher}]]</td>
				</tr>
				<tr>
					<th class="table-primary">ジャンル</th>
					<td>[[*{genreName}]]</td>
				</tr>
				<tr>
					<th class="table-primary">状態</th>
					<td>
						<select name="statusId">
							<option 
							th:each="status : ${statusList}" 
							th:value="${status.statusId}"
							th:selected="${lendItem.statusId} == ${status.statusId}">
								[[${status.statusId}]]: [[${status.statusName}]]
							</option>
						</select>
					</td>
				</tr>
				
				<th class="table-primary">種類</th>
					<td>
						<select name="anyId">
							<option 
							th:each="cd :${cdList}" 
							th:value="${cd.cdId}"
							th:selected="${lendItem.anyId} == ${cd.cdId}">
								[[${cd.cdId}]]: [[${cd.title}]]
							</option>
						</select>
					</td>
			</table>
		</th:block>

<!--	DVDの編集-->
		<th:block th:if="${lendItem.categoryId} == 3">
			<table border="1">
				<tr>
					<th class="table-primary">タイトル</th>
					<td>[[*{title}]]</td>
				</tr>
				<tr>
					<th class="table-primary">監督</th>
					<td>[[*{author}]]</td>
				</tr>
				<tr>
					<th class="table-primary">販売元</th>
					<td>[[*{publisher}]]</td>
				</tr>
				<tr>
					<th class="table-primary">ジャンル</th>
					<td>[[*{genreName}]]</td>
				</tr>
				<tr>
					<th class="table-primary">状態</th>
					<td>
						<select name="statusId">
							<option 
							th:each="status : ${statusList}" 
							th:value="${status.statusId}"
							th:selected="${lendItem.statusId} == ${status.statusId}">
								[[${status.statusId}]]: [[${status.statusName}]]
							</option>
						</select>
					</td>
				</tr>
				
				<th class="table-primary">種類</th>
					<td>
						<select name="anyId">
							<option 
							th:each="dvd :${dvdList}" 
							th:value="${dvd.dvdId}"
							th:selected="${lendItem.anyId} == ${dvd.dvdId}">
								[[${dvd.dvdId}]]: [[${dvd.title}]]
							</option>
						</select>
					</td>
			</table>
		</th:block>

<!--	紙芝居の編集-->
		<th:block th:if="${lendItem.categoryId} == 4">
			<table border="1" class="table">
				<tr>
					<th class="table-primary">タイトル</th>
					<td>[[*{title}]]</td>
				</tr>
				<tr>
					<th class="table-primary">作者</th>
					<td>[[*{author}]]</td>
				</tr>
				<tr>
					<th class="table-primary">販売元</th>
					<td>[[*{publisher}]]</td>
				</tr>
				<tr>
					<th class="table-primary">ジャンル</th>
					<td>[[*{genreName}]]</td>
				</tr>
				<tr>
					<th class="table-primary">状態</th>
					<td>
						<select name="statusId">
							<option 
							th:each="status : ${statusList}" 
							th:value="${status.statusId}"
							th:selected="${lendItem.statusId} == ${status.statusId}">
								[[${status.statusId}]]: [[${status.statusName}]]
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th class="table-primary">種類</th>
					<td>
						<select name="anyId">
							<option 
							th:each="kamishibai :${kamishibaiList}" 
							th:value="${kamishibai.kamishibaiId}"
							th:selected="${lendItem.anyId} == ${kamishibai.kamishibaiId}">
								[[${kamishibai.kamishibaiId}]]: [[${kamishibai.title}]]
							</option>
						</select>
					</td>
				</tr>
			</table>
		</th:block>
	
	<!--	会議室の編集-->
		<th:block th:if="${lendItem.categoryId} == 5">
			<table border="1" class="table">
				<tr>
					<th class="table-primary">部屋名</th>
					<td>[[*{roomName}]]</td>
				</tr>
				<tr>
					<th class="table-primary">状態</th>
					<td>
						<select name="statusId">
							<option 
							th:each="status : ${statusList}" 
							th:value="${status.statusId}"
							th:selected="${lendItem.statusId} == ${status.statusId}">
								[[${status.statusId}]]: [[${status.statusName}]]
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th class="table-primary">種類</th>
					<td>
						<select name="anyId">
							<option 
							th:each="room :${roomList}" 
							th:value="${room.roomId}"
							th:selected="${lendItem.anyId} == ${room.roomId}">
								[[${room.roomId}]]: [[${room.roomName}]]
							</option>
						</select>
					</td>
				</tr>
			</table>
		</th:block>
		
		<button class="btn btn-primary">更新</button>
	</form>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	</body>
</html>