<!DOCTYPE html>
<htm xmlns:th="http://www.thymeleaf.org"l>
<head>
<meta charset="UTF-8">
<title>貸出物詳細</title>
</head>
<body>
	<header th:replace ="adminHeader"></header>
	<sidebar th:replace="librarianSidebar"></sidebar>
	
	<th:block th:if="${lendItem.categoryId} != 5">
		<form method="post">	
			<table border="1">
				<tr>
					<th>タイトル</th>
					<td>
						<input type="text" name="title" th:value="${lendAnyItem.title}">
					</td>
				</tr>
				<tr>
					<th>著者</th>
					<td>
						<input type="text" name="author" th:value="${lendAnyItem.author}">
					</td>
				</tr>
				<tr>
					<th>出版社</th>
					<td>
						<input type="text" name="publisher" th:value="${lendAnyItem.publisher}">
					</td>
				</tr>
				<tr>
					<th>ジャンル</th>
					<td>
						<select>							
							<option th:value="${lendAnyItem.genreId}">[[${lendAnyItem.genreId}]]</option>
							<option th:each="genre : ${genreList}" th:value="${genre.genreId}">[[${genre.genreName}]]</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>状態</th>
					<td>
						<select>
							<option th:value="${lendItem.statusId}">[[${lendItem.statusId}]]</option>
							<option th:each="status : ${statusList}" th:value="${status.statusId}">[[${status.statusName}]]</option>
						</select>
					</td>
				</tr>
			</table>
			
			<button>更新</button>
		</form>
	</th:block>
	
	<th:block th:if="${lendItem.categoryId} == 5">
		<form 
		method="post" 
		th:action="@{/librarian/lenditems/{id}/edit(id = ${lendItem.lendItemId})}"
		th:object="${lendAnyItem}">	
			<table border="1">
				<tr>
					<th>部屋名</th>
					<td>
						<input type="text" th:value="*{roomName}">
					</td>
				</tr>
				<tr>
					<th>状態</th>
					<td>
						<select>
							<option th:value="${lendItem.statusId}">[[${lendItem.statusId}]]</option>
							<option th:each="status : ${statusList}" th:value="${status.statusId}">[[${status.statusName}]]</option>
						</select>
					</td>
				</tr>
			</table>
			
			<button>更新</button>
		</form>
	</th:block>
</body>
</html>