<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出物詳細</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
	<div class="text-center">
	<header th:replace ="adminHeader"></header>
	<div th:replace="suSideBar"></div>
	
	
<!--	Bookの編集-->
	<form 
	method="post" 
	th:action="@{/librarian/lenditems/{id}/edit(id = ${lendItem.lendItemId})}"
	th:object="${lendAnyItem}"
	>
		<th:block th:if="${lendItem.categoryId} == 1">
			<table border="1">
				<tr>
					<th>タイトル</th>
					<td>[[*{title}]]</td>
				</tr>
				<tr>
					<th>著者</th>
					<td>[[*{author}]]</td>
				</tr>
				<tr>
					<th>出版社</th>
					<td>[[*{publisher}]]</td>
				</tr>
				<tr>
					<th>ジャンル</th>
					<td>[[*{genreName}]]</td>
				</tr>
				<tr>
					<th>状態</th>
					<td>
						<select name="statusId">
							<option 
							th:each="status : ${statusList}" 
							th:value="${status.statusId}"
							th:selected="${lendItem.statusId} == ${status.statusId}">
								[[${status.statusId}]]: [[${status.statusName}]]
							</option>
						</select>
					</td>
				</tr>
				
				<th>種類</th>
					<td>
						<select name="anyId">
							<option 
							th:each="book :${bookList}" 
							th:value="${book.bookId}"
							th:selected="${lendItem.anyId} == ${book.bookId}">
								[[${book.bookId}]]: [[${book.title}]]
							</option>
						</select>
					</td>
			</table>
		</th:block>

<!--	CDの編集-->
		<th:block th:if="${lendItem.categoryId} == 2">
			<table border="1">
				<tr>
					<th>タイトル</th>
					<td>[[*{title}]]</td>
				</tr>
				<tr>
					<th>アーティスト</th>
					<td>[[*{author}]]</td>
				</tr>
				<tr>
					<th>レーベル</th>
					<td>[[*{publisher}]]</td>
				</tr>
				<tr>
					<th>ジャンル</th>
					<td>[[*{genreName}]]</td>
				</tr>
				<tr>
					<th>状態</th>
					<td>
						<select name="statusId">
							<option 
							th:each="status : ${statusList}" 
							th:value="${status.statusId}"
							th:selected="${lendItem.statusId} == ${status.statusId}">
								[[${status.statusId}]]: [[${status.statusName}]]
							</option>
						</select>
					</td>
				</tr>
				
				<th>種類</th>
					<td>
						<select name="anyId">
							<option 
							th:each="cd :${cdList}" 
							th:value="${cd.cdId}"
							th:selected="${lendItem.anyId} == ${cd.cdId}">
								[[${cd.cdId}]]: [[${cd.title}]]
							</option>
						</select>
					</td>
			</table>
		</th:block>

<!--	DVDの編集-->
		<th:block th:if="${lendItem.categoryId} == 3">
			<table border="1">
				<tr>
					<th>タイトル</th>
					<td>[[*{title}]]</td>
				</tr>
				<tr>
					<th>監督</th>
					<td>[[*{author}]]</td>
				</tr>
				<tr>
					<th>販売元</th>
					<td>[[*{publisher}]]</td>
				</tr>
				<tr>
					<th>ジャンル</th>
					<td>[[*{genreName}]]</td>
				</tr>
				<tr>
					<th>状態</th>
					<td>
						<select name="statusId">
							<option 
							th:each="status : ${statusList}" 
							th:value="${status.statusId}"
							th:selected="${lendItem.statusId} == ${status.statusId}">
								[[${status.statusId}]]: [[${status.statusName}]]
							</option>
						</select>
					</td>
				</tr>
				
				<th>種類</th>
					<td>
						<select name="anyId">
							<option 
							th:each="dvd :${dvdList}" 
							th:value="${dvd.dvdId}"
							th:selected="${lendItem.anyId} == ${dvd.dvdId}">
								[[${dvd.dvdId}]]: [[${dvd.title}]]
							</option>
						</select>
					</td>
			</table>
		</th:block>

<!--	紙芝居の編集-->
		<th:block th:if="${lendItem.categoryId} == 4">
			<table border="1">
				<tr>
					<th>タイトル</th>
					<td>[[*{title}]]</td>
				</tr>
				<tr>
					<th>作者</th>
					<td>[[*{author}]]</td>
				</tr>
				<tr>
					<th>販売元</th>
					<td>[[*{publisher}]]</td>
				</tr>
				<tr>
					<th>ジャンル</th>
					<td>[[*{genreName}]]</td>
				</tr>
				<tr>
					<th>状態</th>
					<td>
						<select name="statusId">
							<option 
							th:each="status : ${statusList}" 
							th:value="${status.statusId}"
							th:selected="${lendItem.statusId} == ${status.statusId}">
								[[${status.statusId}]]: [[${status.statusName}]]
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>種類</th>
					<td>
						<select name="anyId">
							<option 
							th:each="kamishibai :${kamishibaiList}" 
							th:value="${kamishibai.kamishibaiId}"
							th:selected="${lendItem.anyId} == ${kamishibai.kamishibaiId}">
								[[${kamishibai.kamishibaiId}]]: [[${kamishibai.title}]]
							</option>
						</select>
					</td>
				</tr>
			</table>
		</th:block>
	
	<!--	会議室の編集-->
		<th:block th:if="${lendItem.categoryId} == 5">
			<table border="1">
				<tr>
					<th>部屋名</th>
					<td>[[*{roomName}]]</td>
				</tr>
				<tr>
					<th>状態</th>
					<td>
						<select name="statusId">
							<option 
							th:each="status : ${statusList}" 
							th:value="${status.statusId}"
							th:selected="${lendItem.statusId} == ${status.statusId}">
								[[${status.statusId}]]: [[${status.statusName}]]
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>種類</th>
					<td>
						<select name="anyId">
							<option 
							th:each="room :${roomList}" 
							th:value="${room.roomId}"
							th:selected="${lendItem.anyId} == ${room.roomId}">
								[[${room.roomId}]]: [[${room.roomName}]]
							</option>
						</select>
					</td>
				</tr>
			</table>
		</th:block>
		
		<input type="hidden" name="libraryId" th:value="${libraryId}">
		<button>更新</button>
	</form>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	</body>
</html>