<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

		<div class="text-center">
<div class="mx-auto" style="width: 600px;">
	
	<h1>貸出履歴</h1>
	
	<table border="1">
		<tr>
			<th>カテゴリ</th>
			<th>貸出物</th>
			<th>貸出日</th>
			<th>返却日</th>
		</tr>
		
<!--		<tr th:each="lendingItem : ${lendingHistoryList}" th:object="${lendingItem}">-->
<!--			<td>[[*{categoryName}]]</td>-->
			
<!--			<td th:if="*{categoryId} == 1">[[*{bookTitle}]]</td>-->
<!--			<td th:if="*{categoryId} == 2">[[*{cdTitle}]]</td>-->
<!--			<td th:if="*{categoryId} == 3">[[*{dvdTitle}]]</td>-->
<!--			<td th:if="*{categoryId} == 4">[[*{kamishibaiTitle}]]</td>-->
<!--			<td th:if="*{categoryId} == 5">[[*{roomName}]]</td>-->
			
<!--			<td>[[*{borrowedDate}]]</td>-->
<!--			<td>[[*{returnDate}]]</td>-->
<!--		</tr>-->
		
		<tr th:each="lendingItem : ${lendingHistoryList}">
			<td>[[${lendingItem.categoryName}]]</td>
			
			<td th:if="${lendingItem.categoryId} == 1">[[${lendingItem.bookTitle}]]</td>
			<td th:if="${lendingItem.categoryId} == 2">[[${lendingItem.cdTitle}]]</td>
			<td th:if="${lendingItem.categoryId} == 3">[[${lendingItem.dvdTitle}]]</td>
			<td th:if="${lendingItem.categoryId} == 4">[[${lendingItem.kamishibaiTitle}]]</td>
			<td th:if="${lendingItem.categoryId} == 5">[[${lendingItem.roomName}]]</td>
			
			<td>[[${lendingItem.borrowedDate}]]</td>
			<td>[[${lendingItem.returnDate}]]</td>
		</tr>
	</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>