<!DOCTYPE html>
<htm xmlns:th="http://www.thymeleaf.org"l>
<head>
<meta charset="UTF-8">
<title>貸出物詳細</title>
</head>
<body>
	<header th:replace ="adminHeader"></header>
	<sidebar th:replace="librarianSidebar"></sidebar>
	
	<th:block th:if="${lendItem.categoryId} == 1">
		<table border="1">
			<tr>
				<th>タイトル</th>
				<td>[[${LendAnyItem.title}]]</td>
			</tr>
			<tr>
				<th>著者</th>
				<td>[[${LendAnyItem.title}]]</td>
			</tr>
			<tr>
				<th>出版社</th>
				<td>[[${LendAnyItem.title}]]</td>
			</tr>
			<tr>
				<th>ジャンル</th>
				<td>[[${LendAnyItem.title}]]</td>
			</tr>
		</table>
	</th:block>
</body>
</html>