<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出処理 返却処理</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<!--	input hiddenのlibraryIdを消去-->
<body>
	<header th:replace ="adminHeader"></header>
	<div th:replace="suSideBar"></div>
		<div class="text-center">
<div class="mx-auto" style="width: 400px;">
	<h1>貸出処理</h1>
	
	<p th:if="${errorMsg}">[[${errorMsg}]]</p>
	
<!--	ID検索-->
	<form action="/librarian/lendProcess" method="get">
		<div class="form-group">
		<input type="number" min="1" name="lendItemId" class="form-control" placeholder="ID検索">
		</div>

		<div class="form-group">
		<div class="form-group">
		<button class="btn btn-primary">ID検索</button>
	</form>
	
<!--	キーワード検索-->
	<form action="/librarian/lendProcess" th:object="${category}" method="get">
		<br>カテゴリー選択
		<select class="form-select" th:field="*{categoryId}">
			<option th:each="category : ${categoryList}" th:value="${category.categoryId}">[[${category.categoryName}]]</option>
		</select>
		<br>
		
		<div class="form-group">
			<input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="キーワード検索">
		

		<button class="btn btn-primary">キーワード検索</button>
	</form>
	</div>
	</div>
	<th:block th:if="${lendItem}">
		
		<form 
		action="/librarian/lendProcess" 
		method="post"
		th:object="${lendItem}">
			<table border="1" class="table">
				<tr>
					<th class="table-primary">貸出物ID</th>
					<td>[[*{lendItemId}]]</td>
				</tr>
				<tr>
					<th class="table-primary">図書館ID</th>
					<td>[[*{libraryId}]]</td>
				</tr>
				<tr>
					<th class="table-primary">貸出物名</th>
					<td>[[*{title}]]</td>
				</tr>
				<tr>
					<th class="table-primary">状態</th>
					<td>[[*{statusName}]]</td>
				</tr>
				<tr th:if="*{statusId} == 1">
					<th>email</th>
					<td>
						<input type="text" name="email">
					</td>
				</tr>
			</table>
			
			<div th:if="*{statusId} == 1 or *{statusId} == 2">			
				<input type="hidden" th:field="*{lendItemId}">
				<input type="hidden" th:field="*{title}">
				<button class="btn btn-primary">
					<p th:if="*{statusId} == 1" style="display: inline;">貸出</p>
					<p th:if="*{statusId} == 2" style="display: inline;">返却</p>
				</button>
			</div>
		</form>
	</th:block>
	
	<th:block th:if="${lendItemList}">
		<form 
		action="/librarian/lendProcess" 
		method="get" 
		th:each="lendItem : ${lendItemList}">
			<table border="1" class="table">
				<tr>
					<th class="table-primary">貸出物ID</th>
					<td>[[${lendItem.lendItemId}]]</td>
				</tr>
				<tr>
					<th class="table-primary">図書館ID</th>
					<td>[[${lendItem.libraryId}]]</td>
				</tr>
				<tr>
					<th class="table-primary">貸出物名</th>
					<td>[[${lendItem.title}]]</td>
				</tr>
				<tr>
					<th class="table-primary">状態</th>
					<td>[[${lendItem.statusName}]]</td>
				</tr>
				
			</table>
			
			<input type="hidden" name="lendItemId" th:value="${lendItem.lendItemId}">
			<input type="hidden" name="title" th:value="${lendItem.title}">
			
			<div th:if="${lendItem.statusId} == 1 or ${lendItem.statusId} == 2 or ${lendItem.statusId} == 4">
				<button class="btn btn-primary" style="margin-bottom: 20px;">
					<p th:if="${lendItem.statusId} == 1" style="display: inline;">貸出処理へ</p>
					<p th:if="${lendItem.statusId} == 4" style="display: inline;">貸出処理へ</p>
					<p th:if="${lendItem.statusId} == 2" style="display: inline;">返却処理へ</p>
				</button>
			</div>
      
		</form>
		
	</th:block>
	</div>
	
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>