<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出処理 返却処理</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace ="adminHeader"></header>
	<sidebar th:replace="librarianSidebar"></sidebar>
	
	<h1>貸出処理</h1>
	
	<p th:if="${errorMsg}">[[${errorMsg}]]</p>
	
<!--	ID検索-->
	<form action="/librarian/lendProcess" method="get">
		<input type="number" name="lendItemId">
		
		<input type="hidden" name = "libraryId" th:value="${libraryId}">
		<button>ID検索</button>
	</form>
	
<!--	キーワード検索-->
	<form action="/librarian/lendProcess" th:object="${category}" method="get">
		<select th:field="*{categoryId}">
			<option th:each="category : ${categoryList}" th:value="${category.categoryId}">[[${category.categoryName}]]</option>
		</select>
		<input type="text" name="keyword" th:value="${keyword}">
		
		<input type="hidden" name = "libraryId" th:value="${libraryId}">
		<button>キーワード検索</button>
	</form>
	
	<th:block th:if="${lendItem}">
		
		<form 
		action="/librarian/lendProcess" 
		method="post"
		th:object="${lendItem}">
			<table border="1">
				<tr>
					<th>貸出物ID</th>
					<td>[[*{lendItemId}]]</td>
				</tr>
				<tr>
					<th>図書館ID</th>
					<td>[[*{libraryId}]]</td>
				</tr>
				<tr>
					<th>貸出物名</th>
					<td>[[*{title}]]</td>
				</tr>
				<tr>
					<th>状態</th>
					<td>[[*{statusName}]]</td>
				</tr>
				<tr th:if="*{statusId} == 1">
					<th>email</th>
					<td>
						<input type="text" name="email">
					</td>
				</tr>
			</table>
			
			<input type="hidden" th:field="*{lendItemId}">
			<input type="hidden" th:field="*{title}">
			<input type="hidden" name="libraryId" th:value="${library.libraryId}">
			<button>
				<p th:if="*{statusId} == 1" style="display: inline;">貸出</p>
				<p th:if="*{statusId} == 2" style="display: inline;">返却</p>
			</button>
		</form>
	</th:block>
	
	<th:block th:if="${lendItemList}">
		<form 
		action="/librarian/lendProcess" 
		method="get" 
		th:each="lendItem : ${lendItemList}">
			<table border="1" >
				<tr>
					<th>貸出物ID</th>
					<td>[[${lendItem.lendItemId}]]</td>
				</tr>
				<tr>
					<th>図書館ID</th>
					<td>[[${lendItem.libraryId}]]</td>
				</tr>
				<tr>
					<th>貸出物名</th>
					<td>[[${lendItem.title}]]</td>
				</tr>
				<tr>
					<th>状態</th>
					<td>[[${lendItem.statusName}]]</td>
				</tr>
				
			</table>
			
			<input type="hidden" name="lendItemId" th:value="${lendItem.lendItemId}">
			<input type="hidden" name="libraryId" th:value="${library.libraryId}">
			<input type="hidden" name="title" th:value="${lendItem.title}">

			<button style="margin-bottom: 20px;">
				<p th:if="${lendItem.statusId} == 1" style="display: inline;">貸出処理へ</p>
				<p th:if="${lendItem.statusId} == 2" style="display: inline;">返却処理へ</p>
			</button>
      
		</form>
		
	</th:block>
</body>
</html>