<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>お知らせ画面だYo!!</title>
<link rel="stylesheet" type="text/css" href="/css/Measures.css">
</head>
<body>
	<header th:replace="header"></header>
    <div class="noticeCenter">
    	<h1>お知らせ</h1>
       	<div class="border">
			<tr th:each="notice:${noticeList}">
			<!--"${#temporals.format(～～～,'yyyy/MM/dd')}"　日付を(2024/01/01)の形にする-->
			<td th:text="${#temporals.format(notice.noticeDate,'yyyy/MM/dd')}"></td>
			<a th:href="@{/notice/{id}(id=${notice.noticeId})}">
				<td th:text="${notice.title}"></td><br>
			</a>
		</div>
	</div>
</body>
</html>