<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>お知らせ画面だYo!!</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<!--TODO選択できるだけ-->
	<select name="example">
    	<option>名古屋</option>
    	<option>栄</option>
    	<option>金山</option>
    </select>
    <div class="align_center">
    <h1>図書館</h1>
    </div>
    <div class="border">
    	<br><a href="/login">ログイン</a>
    </div>
    <div class="border">
		<h1>メニュー</h1>
	</div>
	<div class="border">
		<!--TODOお知らせだけ動く他は404-->
		<br><a href="/lemdItem">・ホーム</a>
		<br><a href="/notice">・お知らせ</a>
		<br><a href="/lending">・現在借りている物</a>
		<br><a href="/reservation">・予約一覧</a>
		<br><a href="/lendingHistory">・貸出履歴</a>
	</div>
    <div class="align_center">
    <h1>お知らせ</h1>
    <div class="border">
	<tr th:each="notice:${noticeList}">		<!--日付-->								<!--タイトル-->
		<a href="/notice/{id}"><td th:text="${notice.noticeDate}"></td><td th:text="${notice.title}"></td></a><br>
	</tr>
    </div>
    </div>
</body>
</html>