<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>お知らせ一覧</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	
		<header th:replace="suHeader"></header>
		<sidebar th:replace="librarianSidebar"></sidebar>
		<div class="text-center">
<div class="mx-auto" style="width: 600px;">
		<br>
		<br>
		<h2><a href="/librarian/notice/add" class="link-offset-2 link-underline link-underline-opacity-0">新規投稿</a></h2>

		<h3>お知らせ一覧</h3>



		<table border="1" class="table">
			<tr scope="col" class="table-primary">
				<th>お知らせID</th>
				<th>日付</th>
				<th>タイトル</th>
				<th>内容</th>
				<th>更新</th>
				<th>削除</th>
			</tr>
			<tr scope="col" th:each="notice:${notices}">
				<td th:text="${notice.noticeId}"></td>
				<td th:text="${#temporals.format(notice.noticeDate,'yyyy/MM/dd')}"></td>
				<td th:utext="${notice.title}"></td>
				<td th:utext="${notice.content}"></td>
				<td>
					<form th:action="@{/librarian/notice/{noticeId}/edit(noticeId=${notice.noticeId})}" method="get">
						<button class="btn btn-primary">更新</button>
					</form>
				</td>
				<td>
					<form th:action="@{/librarian/notice/{noticeId}/delete(noticeId=${notice.noticeId})}" method="post">
						<button class="btn btn-primary">削除</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>