<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>名古屋図書館</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	<header th:replace="header"></header>
	
<div class="text-center">
<div class="mx-auto" style="width: 600px;">
	
	<form action="/reservation" method="get">
		<select name="category" onchange="submit(this.form)">
			<option value="">カテゴリ</option>
			<option class="category" value="1">本</option>
			<option class="category" value="2">CD</option>
			<option class="category" value="3">DVD</option>
			<option class="category" value="4">紙芝居</option>
			<option class="category" value="5">貸会議室</option>
		</select>
	</form>
	<h2 th:text="${titleMsg}"></h2>
	<h2 th:if="${reservation.size() ==0}" style="color: red;">データが存在しません</h2>
	<table border="1" class="table" th:if="${category != 5 AND reservation.size() !=0}">
		<tr class="table-primary">
			<th>カテゴリー</th>
			<th>タイトル</th>
			<th>予約日</th>
			<th>予約取り消し</th>
		</tr>
		<tr th:each="reserList:${reservation}">
			<td th:text="${categoryMap[reserList.categoryId]}"></td>
			<td th:text="${reserList.title}"></td>
			<td th:text="${#dates.format(reserList.reservationDate,'yyyy/MM/dd')}"></td>
			<td>
				<form th:action="@{/reservation/{Id}/delete(Id=${reserList.reservationId})}" method="post"
					onsubmit="return confirm('本当に取り消しますか')">
					<button class="btn btn-primary">取り消し</button>
				</form>
			</td>
		</tr>
	</table>

	<table border="1" class="table" th:if="${category == 5 AND reservation.size() !=0}">
		<tr class="table-primary">
			<th>カテゴリー</th>
			<th>タイトル</th>
			<th>予約日</th>
			<th>予約取り消し</th>
		</tr>
		<tr th:each="reserList:${reservation}">
			<td th:text="${categoryMap[reserList.categoryId]}"></td>
			<td th:text="${reserList.roomName}"></td>
			<td th:text="${#dates.format(reserList.reservationDate,'yyyy/MM/dd')}"></td>
			<td>
				<form th:action="@{/reservation/{Id}/delete(Id=${reserList.reservationId})}" method="post"
					onsubmit="return confirm('本当に取り消しますか')">
					<button class="btn btn-primary">取り消し</button>
				</form>
			</td>
		</tr>
	</table>
	</div>
		</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>