<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>管理者ログイン</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="mx-auto" style="width: 400px;">
		<h1>管理者ログイン</h1>
		<br>

		<form action="/su/login" method="post">

			図書館<select class="form-select" name="libraryName">
				<option value="1">名古屋</option>
				<option value="2">栄</option>
				<option value="3">金山</option>
			</select><br>

			管理者<select class="form-select" name="privilege">
				<option value="0">システム管理者</option>
				<option value="1">司書</option>
			</select><br>
			
			<div class="form-group">				
				メールアドレス
				<input type="email" name="email" th:value="${email}" class="form-control"><br>
			</div>
			
			<div class="form-group">				
				パスワード				
				<input type="password" name="password" th:value="${password}" class="form-control"><br>
			</div>
			
			<button type="submit" class="btn btn-primary" >ログイン</button>
			
		</form>

		<p th:each="error:${errorList}">
			<span th:text="${error}" style="color: red"></span>
		</p>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>